.circleci
.gitignore
.env
.idea

src/
datamodel.prisma
generate-app-yaml.py
key.json
prisma.yml
docker-compose.yml
Dockerfile
node_modules
bootstrap-server-dev.sh
README.md
renovate.json
tsconfig.json
